<h1 class="text-sucess text-center" appMarcaTexto corDeFundo="red" corDoTexto="blue">Diretivas Angular - Live</h1>

<!--Diretivas de Atributos-->
<div [ngStyle]="{background: count < 5 ? 'red':'green'}" [ngClass]="{custom: count > 5}">
    <h2 class="text-center" appMarcaTexto>Contador: {{count}} </h2>
</div>

<!--Diretivas Estruturais-->
<h2 class="text-center" *ngIf="count > 7; else menor">O contador passou de 7!</h2>
<ng-template #menor>
    <h2 class="text-center">O contator é menor que 7!</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
    <li *ngSwitchCase="3" class="list-group-item">
        É IGUAL A 3
    </li>
    <li *ngSwitchCase="5" class="list-group-item">
        É IGUAL A 5
    </li>
    <li *ngSwitchCase="8" class="list-group-item">
        É IGUAL A 8
    </li>
    <li *ngSwitchCase="10" class="list-group-item">
        É IGUAL A 10
    </li>
    <li *ngSwitchDefault class="list-group-item">
        ESSE É O DEFAULT
    </li>
</ul>

<ul class="list-group mx-auto my-3 col-3">
    <li class="list-group-item" *ngFor="let pessoa of pessoas">
        O nome da pessoa é {{pessoa.nome}} {{pessoa.sobrenome}}.
    </li>
</ul>

<h3 class="text-center" appMarcaTexto corDeFundo="blue" corDoTexto="black">{{nome}}</h3>
<button class="btn btn-success col-4 mx-auto" (click)="clicou('Phillip')">Clique</button>

<div class="col-4 mx-auto">
    <input type="text" class="form-control" placeholder="Digite aqui" [(ngModel)]="text">
    <h4> Saida: {{text}}</h4>
</div>